atlan_api_key: ""
atlan_base_url: ""
log:
    enabled: true
    level: info


data_source mysql-dev:  #
  type: mysql  #
  connection:  #
    qualified_name: "default/mysql/1720438934"  #
  database: ""  #
  schema: ""  #
